body {
    font-family: 'Source Sans Pro',sans-serif;
}

.login-panel {
    margin-top: 50px;
}

.login-message {
    margin: 5px;
}
.remember-me-label {

}

label.required::after {
    font-size: 14px !important;
}

#neumatico_observations label {
    display: none;
}

#neumatico_observations_0 {
    border: none;
}

div.field-collection-action {
    display: none;
}

#easyadmin-list-Deposito table .action-edit {
    display: none;
}

#easyadmin-list-Renovar table .action-edit {
    display: none;
}