body {
    font-family: 'Source Sans Pro',sans-serif;
}

.login-panel {
    margin-top: 50px;
}

.login-message {
    margin: 5px;
}
.remember-me-label {

}

label.required::after {
    font-size: 14px !important;
}

#neumatico_observations label, .field-tire_depth > label:first-child {
    display: none;
}

#neumatico_observations_0 {
    border: none;
}

/*div.field-collection-action {*/
    /*display: none;*/
/*}*/

#easyadmin-list-Deposito table .action-edit {
    display: none;
}

#easyadmin-list-Renovar table .action-edit {
    display: none;
}

.nullable-control {
    display: none;
}

#neumatico_depths [id*=neumatico_depths] div.form-group, #agregarprofundidad_depths [id*=agregarprofundidad_depths] div.form-group {
    width: 33.33333%;
    float: left;
    padding-right: 5px;
    /*margin-right: 5px;*/
}

#neumatico_initialDepth .form-group {
    width: 33.33333%;
    float: left;
    padding-right: 5px;
}

.field-collection-action {
    float: left;
}

.select2-selection__rendered li {
    color: black !important;
}
.select2-selection {
    border: 1px solid #d2d6de !important;
    border-radius: 0 !important;
    padding: 6px 12px !important;
    height: 34px !important;
}

#easyadmin-list-Baja td .action-edit {
    display: none;
}