body {
    font-family: 'Source Sans Pro',sans-serif;
}

.login-panel {
    margin-top: 50px;
}

.login-message {
    margin: 5px;
}
.remember-me-label {

}

label.required::after {
    font-size: 14px !important;
}