{% extends 'easyadmin/default/list.html.twig' %}
{% block new_action %}
    {{ parent() }}
    <div class="button-action">
        <a class="btn btn-primary action-new" href="{{ path('easyadmin', _request_parameters|merge({ action: 'new', entity: 'NeumaticoRenovado' })) }}">
            {#<i class="fa fa-plus"></i>#}
            {{ 'Alta Renovado' }}
        </a>
    </div>
{% endblock new_action %}