{% extends '@EasyAdmin/default/layout.html.twig' %}
{% block main %}
    <div class=" col-md-4 col-md-offset-4" style="border: 2px solid grey;">
        <h1>Aquí irán gráficas y estadísticas útiles para el usuario</h1>
    </div>
{% endblock %}
